In [2]:
import pandas as pd
import numpy as np

In [3]:
st = pd.Series(np.arange(100, 110), index=(np.arange(10, 20)))
st[2:4]  # slice

12    102
13    103
dtype: int32

In [4]:
st[2:7:2]  # вытаскиваем даныые срезами, slice

12    102
14    104
16    106
dtype: int32

In [5]:
st[[11, 13, 15]]  # через пандавский срез, конктетные строки

11    101
13    103
15    105
dtype: int32

In [6]:
st[0::2]

10    100
12    102
14    104
16    106
18    108
dtype: int32

In [7]:
st[::-1]  # разворот срезом

19    109
18    108
17    107
16    106
15    105
14    104
13    103
12    102
11    101
10    100
dtype: int32

In [8]:
st[:-2]  # стоп позиция

10    100
11    101
12    102
13    103
14    104
15    105
16    106
17    107
dtype: int32

- `arange(start, stop, step, dtype=None)`
Где: 
- start -> Начальная точка (включенная) диапазона, которая по умолчанию установлена на 0; 
- stop -> Конечная точка (исключенная) диапазона; step -> Размер шага последовательности, который по умолчанию равен 1. Это может быть любое действительное число, кроме нуля;  
- dtype -> Тип выходного массива. Если dtype не указан (или указан, как None), тип данных будет выведен из типа других входных аргументов.

In [9]:
st1 = pd.Series(
    np.arange(0, 5), index=(list("abcde"))
)  # раложили индексы в виде строки list-ом
st1

a    0
b    1
c    2
d    3
e    4
dtype: int32

In [10]:
st1["c":"d"]

c    2
d    3
dtype: int32

In [39]:
st1 = st1 * 4
st1

a     0
b    16
c    32
d    48
e    64
dtype: int32

In [40]:
# Cтиль Python
logic_filtr = st1 >= 8
logic_filtr

a    False
b     True
c     True
d     True
e     True
dtype: bool

In [41]:
# отбираем только True
st1[logic_filtr]  # сам объект и туда фильтрующее условие

b    16
c    32
d    48
e    64
dtype: int32

In [42]:
# Стиль pandas
st1[st1 >= 8]  # логическую операц применяем в условие

b    16
c    32
d    48
e    64
dtype: int32

In [44]:
st1[(st1 >= 8) & (st1 < 35)]  # у C нету and => &

b    16
c    32
dtype: int32

In [16]:
bin(8), bin(7)

('0b1000', '0b111')

In [17]:
# 8 & 7

# 1000
# & # логическое умножение / конъюнкция
# 0111

# 0000

In [18]:
bin(5), bin(4)

('0b101', '0b100')

In [19]:
5 & 4

101
100

100  # 4

100

In [45]:
# все эл >0 ?
(st1 >= 0).all()

True

In [49]:
# есть ли каой нибудь эл меньше 8
(st1 < 8).any()

True

In [56]:
st1[st1 <= 8].any()
st1

a     0
b    16
c    32
d    48
e    64
dtype: int32

In [59]:
(st1 <= 32).sum()

3

In [61]:
(st1 <= 32)

5

In [24]:
dir((st1 < 16))

['T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_add_numeric_operations',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_align_frame',
 '_align_series',
 '_append',
 '_arith_method',
 '_as_manager',
 '_attrs',
 '_binop',
 '_can_hold_na',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_result',
 '_constructor',
 '_constructor_expanddim',
 '_convert_dtypes',
 '_data',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_duplicated',
 '_find_valid_index',
 '_flags',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_cleaned_column_resolvers',
 '_get_index_resolvers',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_get_values',
 '_get_values_tuple',
 '_get_with',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_init_dict',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_cached',
 '_is_copy',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_item_cache',
 '_ixs',
 '_logical_func',
 '_logical_method',
 '_map_values',
 '_maybe_update_cacher',
 '_memory_usage',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_name',
 '_needs_reindex_multi',
 '_protect_consolidate',
 '_reduce',
 '_references',
 '_reindex_axes',
 '_reindex_indexer',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_rename',
 '_replace_single',
 '_repr_data_resource_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_labels',
 '_set_name',
 '_set_value',
 '_set_values',
 '_set_with',
 '_set_with_engine',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_stat_function',
 '_stat_function_ddof',
 '_take',
 '_take_with_is_copy',
 '_to_latex_via_styler',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'a',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'apply',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'asfreq',
 'asof',
 'astype',
 'at',
 'at_time',
 'attrs',
 'autocorr',
 'axes',
 'b',
 'backfill',
 'between',
 'between_time',
 'bfill',
 'bool',
 'c',
 'clip',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'd',
 'describe',
 'diff',
 'div',
 'divide',
 'divmod',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'dtypes',
 'duplicated',
 'e',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'explode',
 'factorize',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'ge',
 'get',
 'groupby',
 'gt',
 'hasnans',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'interpolate',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'items',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'nbytes',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'radd',
 'rank',
 'ravel',
 'rdiv',
 'rdivmod',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'repeat',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'searchsorted',
 'sem',
 'set_axis',
 'set_flags',
 'shape',
 'shift',
 'size',
 'skew',
 'sort_index',
 'sort_values',
 'squeeze',
 'std',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_list',
 'to_markdown',
 'to_numpy',
 'to_period',
 'to_pickle',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unique',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'view',
 'where',
 'xs']

In [25]:
np.random.seed(12345)  # Иницилизация генератора случ чисел
np.random.randn(5)

array([-0.20470766,  0.47894334, -0.51943872, -0.5557303 ,  1.96578057])

In [26]:
np.random.randn  # стандартное распределение гауса / "standard normal" distribution / sample - выборка

In [27]:
sr = pd.Series(np.random.randn(5), index=list("abcde"))
sr

a    1.393406
b    0.092908
c    0.281746
d    0.769023
e    1.246435
dtype: float64

In [62]:
sr_1 = sr.reindex(list("sdfgh"))  # class_name + () => create object of class
sr_1

s         NaN
d    0.769023
f         NaN
g         NaN
h         NaN
dtype: float64

In [29]:
sr.index = sr.index.values

sr.dtype

dtype('float64')

In [30]:
sr_2 = sr_1.copy()  # [a,b,c,[g,v]] первый уровень ссылок
dir(sr_2)  # нет метода __call__ - объект невыз

print(1), print.__call__(
    1
)  # дандер методы вызываются неявно, при наступлении определенного события
# int() # __call__

1
1

(None, None)

In [69]:
sr_2.reindex(["s", "d"], fill_value=0)  # fill_value заполнение 0
sr_2

s         NaN
d    0.769023
f         NaN
g         NaN
h         NaN
dtype: float64

In [64]:
s3 = pd.DataFrame({"a": [1, 2, 3, np.nan, 5, np.nan], "b": [7, 6, 8, 9, 10, 11]})
s3

     a   b
0  1.0   7
1  2.0   6
2  3.0   8
3  NaN   9
4  5.0  10
5  NaN  11

In [65]:
s3 = s3.reindex(
    np.arange(0, 6), method="ffill"
)  # метод прямого заполнения, заполн пропущ знач значениями из пред стр

s3

     a   b
0  1.0   7
1  2.0   6
2  3.0   8
3  NaN   9
4  5.0  10
5  NaN  11

In [66]:
s3["a"][3] = 5

C:\Users\nout\AppData\Local\Temp\ipykernel_12236\1297710655.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s3['a'][3] = 5

In [67]:
s3

     a   b
0  1.0   7
1  2.0   6
2  3.0   8
3  5.0   9
4  5.0  10
5  NaN  11

In [36]:
[]  # структура данных стек

[]

In [37]:
del s3["a"]  # удаляем столбец

In [38]:
s3

    b
0   7
1   6
2   8
3   9
4  10
5  11