In [2]:
import pandas as pd

df1 = pd.read_csv('C:/Users/nout/Desktop/учеба/для дипл/пыль/анализы/пыление/за 15.03.24/TEST 4_001.csv', skiprows=36, usecols=[0,1,2,3,4], index_col='Elapsed Time [s]')
izm1 = pd.read_csv('C:/Users/nout/Desktop/учеба/для дипл/пыль/анализы/пыление/за 15.03.24/TEST 4_002.csv', skiprows=36, usecols=[0,1,2,3,4], index_col='Elapsed Time [s]')

In [15]:
df = pd.DataFrame({'city': ['Jacksonville'] * 5 + ['ElPaso']* 5, 
                   'month': ['January', 'February', 'March', 'April', 'May', 'January', 'February', 'March', 'April', 'May'], 
                   'temp': list(range(1, 11))})
df

           city     month  temp
0  Jacksonville   January     1
1  Jacksonville  February     2
2  Jacksonville     March     3
3  Jacksonville     April     4
4  Jacksonville       May     5
5        ElPaso   January     6
6        ElPaso  February     7
7        ElPaso     March     8
8        ElPaso     April     9
9        ElPaso       May    10

In [16]:
df['city'].value_counts()

city
Jacksonville    5
ElPaso          5
Name: count, dtype: int64